body {
  padding: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px auto 20px;
  max-width: 750px;
}

h4, h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0px auto 20px;
  max-width: 750px;
}

h5 {
  font-weight: 700;
}

p {
  font-size: 18px;
  margin: 0px auto 10px;
  max-width: 750px;
}

.margin {
  margin-bottom: 20px;
}

.no-margin {
  margin-bottom: 5px;
}